/* Hero */
.hero {
    background: linear-gradient(to bottom, var(--bg-blue), var(--bg-cream));
    background-repeat: no-repeat;
    background-size: 100% 77%;
}

.hero .container {
    padding-top: 140px;
}

.playfair {
    font-family: "Source Serif 4", serif;
}

.square {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #fff;
}

.mw-960 {
    max-width: 960px;
}