/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* font-family */
.serif {
    font-family: "Source Serif 4", serif;
}

.jetbrains {
    font-family: "JetBrains Mono", monospace;
}

/* Reset */
body, a {
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

/* Variable */
:root {
    --bg-blue: #A8D3FF;
    --bg-cream: #FFF4DF;
}

/* Class components */
.gap-7 {
    gap: 5rem;
}

.py-120 {
    padding-top: clamp(3rem, 10vw, 7.5rem);
    padding-bottom: clamp(3rem, 10vw, 7.5rem);
}

.wh-42 {
    width: 42px;
    height: 42px;
}

.p-4-5 {
    padding: 2.5rem;
}